.navbar {
  background: rgba(11, 12, 23, 0.32);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(110px);
  position: fixed;
  width: 100%;
  z-index: 100;
}

nav .navbar-nav {
  display: flex;
  align-items: center;
  justify-content: center;
}

nav .nav-item a {
  color: #fff;
}

nav ul li:nth-child(1) {
  font-family: "Poppins";
  padding: 0 25px 0 0;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 27px;
  letter-spacing: 0.06em;
}
nav ul li:nth-child(2) {
  font-family: "Poppins";
  padding: 0 25px 0 0;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 27px;
  letter-spacing: 0.06em;
}

nav ul li:nth-child(3) {
  font-family: "Poppins";
  padding: 0 25px 0 0;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 27px;
  letter-spacing: 0.06em;
}

nav ul li:nth-child(4) {
  font-family: "Poppins";
  padding: 0 25px 0 0;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 27px;
  letter-spacing: 0.06em;
}

nav .nav-item a:hover {
  color: #9b9b9b;
}

.navbar-toggler-icon {
  color: #fff !important;
}

.nav-item .btn-login {
  background-color: red;
  transition: 0.3s;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 26px;
  border: none;
  text-align: center;
  margin-right: 25px;
  width: 80px;
}

.nav-item .btn-login:hover {
  background-color: rgb(80, 0, 0);
  border: none;
  color: white;
  transition: 0.3s;
}

.nav-item .form-control {
  background-color: rgba(0, 0, 0, 0) !important;
  width: 150px;
  border-color: rgb(192, 192, 192);
  border-right: none;
  color: white;
}

.nav-item .input-group button {
  border-left: none;
  border-color: rgb(192, 192, 192);
  color: white;
}

.nav-item form {
  margin: 10px;
}

/* tablet ver */

@media (max-width: 991.98px) {
  header ul li:nth-child(1) {
    font-family: "Poppins";
    padding: 0 0 0 0;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 27px;
    letter-spacing: 0.06em;
  }
  header ul li:nth-child(2) {
    font-family: "Poppins";
    padding: 0 0 0 0;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 27px;
    letter-spacing: 0.06em;
  }

  header ul li:nth-child(3) {
    font-family: "Poppins";
    padding: 0 0 0 0;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 27px;
    letter-spacing: 0.06em;
  }

  header ul li:nth-child(4) {
    font-family: "Poppins";
    padding: 0 0 0 0;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 27px;
    letter-spacing: 0.06em;
  }
}


@media (max-width: 991.98px) {

  .navbar {
    background: rgba(11, 12, 23, 0.32);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(110px);
    position: static;
    width: 100%;
    z-index: 100;
    background: #141414 !important;
  }
}
